<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-config.dtd"> 

<configuration>
  <typeAliases>
   <typeAlias alias="board" type="model.Board101Bean" />
   <!-- 이 부분을 자바 언어로 표현하면 
     model.Board101Bean board=new model.Board101Bean();
     과 같다. 새로운 객체명 board를 만듬. -->
  </typeAliases>     
</configuration>

